In [1]:
import pandas as pd

In [6]:
data=pd.read_csv('db/data.csv')

In [7]:
data

   timestamp  name  contactno  address  pincode  state
0          1     2          3        4        5      6

In [28]:
def saveusrdata(val):
	data=pd.read_csv('db/data.csv')
	data_copy=data.copy()
	n=list(data.columns)
	print(n)
	print(val)
	a=[[],[],[],[],[],[]]
	for i in range(len(val)):
		a[i]=list(data_copy[n[i]])
		a[i].append(val[i])
# 		data_copy[n[i]]=a
		print(n[i],val[i])
	sub=pd.DataFrame({n[0]:a[0],n[1]:a[1],n[2]:a[2],n[3]:a[3],n[4]:a[4],n[5]:a[5]})    
	sub.to_csv('db/data.csv',index=False)
	return "done"

In [29]:
b=saveusrdata(val=['5','5','5','5','5','5'])
if(b=="done"):
    print("render_template('userdetails.html')")
else:
    print("error")

['timestamp', 'name', 'contactno', 'address', 'pincode', 'state']
['5', '5', '5', '5', '5', '5']
timestamp 5
name 5
contactno 5
address 5
pincode 5
state 5
render_template('userdetails.html')