In [48]:
import pandas as pd

In [49]:
data=pd.read_csv('db/data.csv')

In [7]:
data

   timestamp  name  contactno  address  pincode  state
0          1     2          3        4        5      6

In [28]:
def saveusrdata(val):
	data=pd.read_csv('db/data.csv')
	data_copy=data.copy()
	n=list(data.columns)
	print(n)
	print(val)
	a=[[],[],[],[],[],[]]
	for i in range(len(val)):
		a[i]=list(data_copy[n[i]])
		a[i].append(val[i])
# 		data_copy[n[i]]=a
		print(n[i],val[i])
	sub=pd.DataFrame({n[0]:a[0],n[1]:a[1],n[2]:a[2],n[3]:a[3],n[4]:a[4],n[5]:a[5]})    
	sub.to_csv('db/data.csv',index=False)
	return "done"

In [29]:
b=saveusrdata(val=['5','5','5','5','5','5'])
if(b=="done"):
    print("render_template('userdetails.html')")
else:
    print("error")

['timestamp', 'name', 'contactno', 'address', 'pincode', 'state']
['5', '5', '5', '5', '5', '5']
timestamp 5
name 5
contactno 5
address 5
pincode 5
state 5
render_template('userdetails.html')

In [46]:
import requests
import json
# import responses

api_token = 'oyq2afLK8q9KJG8yDiojI3gldjCBkkN0'

api = 'https://api.tomtom.com/map/1/staticimage?layer=basic&style=main&format=png&center=4.899886%2C%2052.379031&width=512&height=512&view=Unified&key=oyq2afLK8q9KJG8yDiojI3gldjCBkkN0'

# tomtomgeo = 'https://api.tomtom.com/search/2/geocode/4 north 5th street san jose.json?countrySet=IN&lat=20.5937&lon=78.9629&topLeft=37.553%2C-122.453&btmRight=37.4%2C-122.55&key=oyq2afLK8q9KJG8yDiojI3gldjCBkkN0'

tomtomgeo = 'https://api.tomtom.com/search/2/geocode/600011.json?countrySet=IN&lat=20.5937&lon=78.9629&key=oyq2afLK8q9KJG8yDiojI3gldjCBkkN0'

# tomtomrevgeo = 'https://api.tomtom.com/search/2/reverseGeocode/13.05116,80.26805.json?key=oyq2afLK8q9KJG8yDiojI3gldjCBkkN0'

requests = requests.get(tomtomgeo)

requests.status_code

a=requests.json()
# print(a)
a['summary']

{'query': '600011',
 'queryType': 'NON_NEAR',
 'queryTime': 43,
 'numResults': 10,
 'offset': 0,
 'totalResults': 7469,
 'fuzzyLevel': 1,
 'geoBias': {'lat': 20.5937, 'lon': 78.9629}}

In [47]:
a=requests.json()
lat=a['results'][1]['position']['lat']
lon=a['results'][1]['position']['lon']
print(lat,lon)

13.12638 80.22826

In [37]:
from math import sin, cos, sqrt, atan2, radians
R = 6373.0
lat1 = radians(13.05116)
lon1 = radians(80.26808)
lat2 = radians(13.03193)
lon2 = radians(80.15408)
dlon = lon2 - lon1
dlat = lat2 - lat1
a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
c = 2 * atan2(sqrt(a), sqrt(1 - a))
distance = R * c
print("Result:", distance)

Result: 12.536948932344727

In [53]:
data['name'][0]

'1'